.parent {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.options_container {
  /* background color of option menu on the left */
  background-color: #bdbdbd;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.option_health, .option_cals {
  flex: 30%;
  padding-left: 10px;
  max-height: 80px;
  font-weight: 100 !important;
  font-size: 30px;
}

.results_container {
  /* background color behind recipes results */
  background-color: blue;
  flex-direction: column;
  flex: 2;
  display: flex;
}

.individual_results {
  /* background color of strips of recipes */
  background-color: #f6f6f6;
  flex-direction: row;
  display: flex;
  justify-content: space-between ! important;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  width: 100%;
}

.img_recipe_container {
  flex: 30%;
  padding-left: 10px;
  max-height: 100px;
}

.recipe_image {
  max-height: 95px;
  width:auto;
  text-align: center;
  vertical-align: middle;
}

.recipe_text {
  flex: 70%;
}


/* will implement when have a few more minutes */
/* @media screen and (max-width: 600px) {
  div.about {
    flex-direction:column;
  }

  div.contact_button{
    margin: 40px;
  }

  .carousel-control-next, .carousel-control-prev {
      width: 35% !important;
    }
} */
